

#all-posts {
  margin: 7rem auto;
  width: 90%;
  max-width: 60rem;
}

#all-posts h2 {
  text-align: center;
  font-size: 2rem;
  color: #2e2e2e;
  margin: 3rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.5rem;
}

.post img {
  width: 7rem;
  height: 7rem;
}

.post a {
  height: 22rem;
  transform-origin: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: white;
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;


}
a{
    text-decoration: none;
    color: black;
}
.post img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}
.post h3{
    text-decoration: none;
}
.post:hover{
    background-color: #390281;
    color: #ffffff;
}